// fonts

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap');
$montserrat: 'Montserrat', sans-serif;

// colors

$nav-blue: #00B8DB;
$text-grey: #3A4655;
// $headline-blue: #007398;
$headline-blue: #005477;
$white: #FFFFFF;