.nav-component {
    background-color: $nav-blue;
    position: sticky;
    top: 0;
    width: 100%;

    nav.bg-info {
        background-color: $nav-blue !important;
        @media screen and (min-width: 761px) {
            padding: 20px;
        }
    }

    .navigation a {
        @media screen and (min-width: 992px) {
            border: 1px solid $nav-blue;
            border-radius: 10px;  
            margin-left: 10px;
            color: $white;
            background-color: $headline-blue;
        }
    }

    .navbar-dark .navbar-nav .nav-link {

        color: $headline-blue;
        
        @media screen and (min-width: 992px) {
            padding: 6px 10px;
            font-size: 14px;
            color: $white;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        
        &:hover {
            color: $white;
            border-color: $nav-blue;
            @media screen and (min-width: 992px) {
                color: $headline-blue !important;
                background-color: $white;
            }
        }
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        &:hover {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
    }

    .nav-item a.nav-link.router-link-exact-active {
        color: $white;
        @media screen and (min-width: 992px) {
            background-color: $white;
            border: 1px solid $nav-blue;
            color: $headline-blue;
        }
    }

    button.navbar-toggler {
        outline: none;
        border: none;

        &:hover {
            border: none;
        }
    }

    button {
        padding-left: 0;
        position: absolute;
        right: 1px;
        top: 8px;
        
        @media screen and (min-width: 761px) {
            right: 10px;
            top: 23px;
        }
    }

    a.navbar-brand {
        white-space: normal;
        max-width: 80%;

        @media screen and (min-width: 992px) {
            max-width: 59%;
        }
    }

    .headline {
        font-size: 18px;
        overflow-wrap: normal;
        span {
            white-space: nowrap;
        }
    }

    .name {
        color: $name-blue;
    }

    .nav-container {
        max-width: 1150px;
        margin: auto;
    }

    .line {
        @media screen and (max-width: 991px) {
            width: 100%;
            height: 1px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            margin: 10px auto;
        }
    }
}